/* Searchbar in Home page */
*{
  padding: none;
  margin:none;
}
#search{
    
  width:25%;
  border-radius: 10px;
  border: transparent;
  font-size: 18px;
  padding: 15px 60px;
  font-weight: 1000px;
  background-color: #e7e9eb;
  position:relative;
  top:10px;
  left:-150px;

}
#search:hover {
  opacity: 0.75;
}

hr{
  margin-top: 50px;
}


/* Register in Auth page*/

#username, #password {
width: 45%;
border-radius: 10px;
border: transparent;
font-size: 18px;
padding: 15px 60px;
font-weight: bold;
background-color: #e7e9eb;
}

.form-group{
padding:20px 0px;
}

.wordscss{
font-size: 20px;
}

#right{
float:right
}

#left{
float:left
}