
input{
    
    width:35%;
    border-radius: 10px;
    border: transparent;
    font-size: 18px;
    padding: 15px 60px;
    font-weight: 1000px;
    background-color: #e7e9eb;
    position:absolute;
    top:25px;
    left:20px;
  
}

input:hover {
   
    opacity: 0.75;
    
  }

  hr{
    margin-top: 100px;
  }